html {
    background-color: white;
}
body {
    background-color: #EAEAEC;
    padding: 25px;
    font: 14px/24px "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    width: 600px;
    margin: 20px auto;
	border-radius: 30px;
    box-shadow: 1px 2px 1px #333;
}
h1 {
    font-size:18pt;
    margin: 5px;
}
#header h1 {
    margin:0px;
    padding:0;
}
#header p {
    margin:0px;
    padding:0;
}
h2 {
    font-size:14pt;
    margin: 3px;
    padding: 2px;
}
#header {
    height: 175px;
}
.iTunesArtwork {
    width:      175px;
    height:     175px;
}
a.iTunesArtwork {
    padding:0 15px 0 0;
}
img.iTunesArtwork, img.iTunesArtworkMask  {
	border-radius: 30px;
    box-shadow: 0.5px 1px 1px #333;
}
img.iTunesArtworkMask {
    margin: 0 0 0 -175px;
    padding: 0;
    width:      175px;
    height:     175px;
}   
